<a href="https://colab.research.google.com/github/AkhilaAthinarapu1003/Olympics-Analysis/blob/main/olympics_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
df=pd.read_csv('summer.csv')
df.head()

   Year    City     Sport  ... Gender                       Event   Medal
0  1896  Athens  Aquatics  ...    Men              100M Freestyle    Gold
1  1896  Athens  Aquatics  ...    Men              100M Freestyle  Silver
2  1896  Athens  Aquatics  ...    Men  100M Freestyle For Sailors  Bronze
3  1896  Athens  Aquatics  ...    Men  100M Freestyle For Sailors    Gold
4  1896  Athens  Aquatics  ...    Men  100M Freestyle For Sailors  Silver

[5 rows x 9 columns]

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31165 entries, 0 to 31164
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        31165 non-null  int64
 1   City        31165 non-null  object
 2   Sport       31165 non-null  object
 3   Discipline  31165 non-null  object
 4   Athlete     31165 non-null  object
 5   Country     31161 non-null  object
 6   Gender      31165 non-null  object
 7   Event       31165 non-null  object
 8   Medal       31165 non-null  object
dtypes: int64(1), object(8)
memory usage: 2.1+ MB

In [15]:
df.shape

(31165, 9)

In [16]:
df.isnull().sum()

Year          0
City          0
Sport         0
Discipline    0
Athlete       0
Country       4
Gender        0
Event         0
Medal         0
dtype: int64


1. In how many cities Summer Olympics is held so far?

In [34]:
citynames=df['City'].unique()
citynames

array(['Athens', 'Paris', 'St Louis', 'London', 'Stockholm', 'Antwerp',
       'Amsterdam', 'Los Angeles', 'Berlin', 'Helsinki',
       'Melbourne / Stockholm', 'Rome', 'Tokyo', 'Mexico', 'Munich',
       'Montreal', 'Moscow', 'Seoul', 'Barcelona', 'Atlanta', 'Sydney',
       'Beijing'], dtype=object)

In [35]:
citycount=df['City'].nunique()
citycount

22

2. Which sport is having most number of Gold Medals so far? (Top 5)

In [67]:
gold=df[df['Medal']=='Gold']
record=gold.groupby('Sport')['Medal'].count().sort_values(ascending=False)[:5]
record

Sport
Aquatics      1421
Athletics     1215
Rowing         890
Gymnastics     820
Fencing        552
Name: Medal, dtype: int64

3. Which sport is having most number of medals so far? (Top 5)

In [43]:
sport=df.groupby('Sport')['Medal'].count().sort_values(ascending=False)[:5]
sport

Sport
Aquatics      4170
Athletics     3638
Rowing        2667
Gymnastics    2307
Fencing       1613
Name: Medal, dtype: int64

4. Which player has won most number of medals? (Top 5)

In [45]:
sport=df.groupby('Sport')['Medal'].count().sort_values(ascending=False)[:5]
sport

Sport
Aquatics      4170
Athletics     3638
Rowing        2667
Gymnastics    2307
Fencing       1613
Name: Medal, dtype: int64

5. Which player has won most number Gold Medals of medals? (Top 5)

In [64]:
gold=df[df['Medal']=='Gold']
player=gold.groupby('Athlete')['Medal'].count().sort_values(ascending=False)[:5]
player

Athlete
PHELPS, Michael     18
NURMI, Paavo         9
SPITZ, Mark          9
LEWIS, Carl          9
LATYNINA, Larisa     9
Name: Medal, dtype: int64

6. In which year India won first Gold Medal in Summer Olympics?

In [63]:
gold=df[df['Medal']=='Gold']
year=gold.groupby('Year')['Medal'].count().sort_values(ascending=False)[:1]
year

Year
2008    669
Name: Medal, dtype: int64

7. Which event is most popular in terms on number of players? (Top 5)

In [52]:
event=df.groupby('Event')['Athlete'].count().sort_values(ascending=False)[:5]
event

Event
Football            1497
Hockey              1422
Team Competition    1147
Basketball          1012
Handball             973
Name: Athlete, dtype: int64

8. Which sport is having most female Gold Medalists? (Top 5)

In [61]:
female=df[df['Gender']=='Women']
event=female.groupby('Sport')['Gender'].value_counts().sort_values(ascending=False)[:5]
event

Sport       Gender
Aquatics    Women     1726
Athletics   Women     1163
Gymnastics  Women      799
Rowing      Women      651
Volleyball  Women      497
Name: Gender, dtype: int64